# Set bookmark containing files, formated with one folder path per line
# File storing the folders/paths bookmarked
# KITTY_TELESCOPE_BOOKMARKS
# Notes folder
# KITTY_TELESCOPE_NOTES
# Kitty terminal .config path
# KITTY_TELESCOPE_CONFIG_FILE
# Variables to be excluded from the kitty theme when loading it from theme .conf
# KITTY_TELESCOPE_THEMES_EXCLUDE
